# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

# copied and edited notebooks
/LocationTracking/user_tests/**
/LocationTracking/.ipynb_checkpoints/**
/LocationTracking/__pycache__/**
